
	a.player_control_bar_logo{
		display:none !important;
	}
	html,body{
		background-color: #EBEAEA;
	}
	img{
		max-width:100%;
	}
	.bodyWrap{background-color: #DEDEDE!important;}
		.artWrap{
			overflow: hidden;
			zoom: 1; 
			border-bottom:#ccc solid 1px;
			padding-bottom:15px;
		}

		/*广告*/
		.headAdvert{
			height:80px;
			width:1200px;
			background-color: skyblue;
			margin-bottom:15px;
			margin-top:15px;
		}
		.footAdcert{
			margin-top:15px;
			margin-bottom:15px;
			width:1200px;
			height:80px;
			background-color: skyblue;
		}
		.headAdvert img{
			height:80px;
			width:1200px;
		}
		.footAdcert img{
			width:600px;
			height:90px;
		}
		.rightAdvert img{
			height:280px;
			height:300px;
		}
		.recommond dd{
			background-color: #f7f7f7;
		}
		.artRight{
			padding:0px 15px 0 15px !important;
			width:280px!important;
		}
		/*头部广告结束*/
		/*详情页左边*/
		
		.artLeft{
			width:860px;
			
			
			float: left;
			padding:10px 0 0 15px;
		}
		.text{
			padding-bottom:10px;
			border-bottom:#ccc 1px solid;
		}
		.textSource{
			font-size: 14px;
		}
		.textSource a{
			font-size: 14px;
		}
		.textHead{
			border-bottom: #ccc solid 1px;
		}
		.textInfo{
			height:36px;
			line-height: 36px;
			overflow: hidden;
			font-size:14px;
		}
		.textInfo div{
			float: left;
		}
		.textInfo h3{
			float: left;
		}
		.textInfo p{
			float: left;
		}
		.textTime{
			width:240px;
		}
		.textAuthor,.textDianji {
			width:150px;
		}
		.bdsharebuttonbox{
			display: inline-block;
			height:36px;
			float: right;
		}
		.textHead .share{
			height:auto;
			padding-bottom:10px;
			border-bottom:#ccc solid 1px;
		}
		.share{
			height:30px;
			overflow: hidden;
			zoom:1;
			position: relative;
		}
		.zihao{
	font-size:14px;
	float: right;
	line-height: 36px;
	margin-right:10px;position: relative;
	top:-36px;
		}
		.zihao span{
			cursor:pointer;
			padding:0 5px;
		}
		.keyWrod{
			padding-top:10px;
			font-size:14px;
			color:#6e6e6e;
		}
		.neirong{
			font-size:16px;
			color:#333;
			line-height:26px;
		}
		.neirong p{
			text-indent:2em;
		}

                .zihao{    text-align: right;
                line-height: 36px;}
		.zhuanfa{
			overflow: hidden;
			zoom: 1; 
			height:24px !important;
			line-height: 24px;
			width:100%;

		}
		.zhuanfa p{
			float: left;
			color:#062E82;
		}
		.zhuanfa a{
			float: left;
			color:#062E82;
		}
		.guandian,.laiyuan{
			color:#9F9F9E;
			overflow: hidden;
			text-indent:2em;
		}
		.laiyuan div{
			float: left;
		}
		/*详情页左边结束*/

		/*详情页右边*/
		.artRight{
			width:282px;
			
			
			float: right;
			padding:0px 10px 0 15px;
			border-left:#ccc solid 1px;
		}
		.textSource i{
			color:#969696;
			font-size:12px;

		}
		.textHead h2{
			font-size:30px;
			font-weight:bold;
			color:#333;
			height:60px;
			line-height: 60px;
			overflow: hidden;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		/*右一广告*/
		.rightAdvert{
			height:300px;
			width:280px;
			background-color: skyblue;
			margin-bottom: 20px;
		}
		/*右二排行榜*/
		.recommond{
	float: right;
	width:250px;
	padding-bottom:5px; width:280px;
		}
		.recommond dd{
			font-size:14px;
			padding-left:10px;
			line-height: 44px;
			font-weight:bold;
			border-bottom:#C0C0C0 solid 1px;
		}
		.recommond dt{
			line-height: 30px;
			padding-left:15px;
			border-bottom:#ccc dotted 1px;
			background: url(images/sanjiao.png) 0 center no-repeat;

		}
		.recommond dt i{
			padding-right:5px;
			color:#ccc;
			font-size:16px;
			display: inline-block;
			line-height: 24px;
			-webkit-transform: rotateX(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		.recommond dt a{
			color:#333;
		}
		/*详情页右边结束*/
		/*评论页*/
		.hotDiscuss{
			width:675px;
			
			border:#ccc solid 1px;
		}
		.discussName{
			height:34px;
			background-color: #ccc;
			color:#333;
			font-size:18px;
			font-weight:bold;
			text-indent:1em;
			line-height: 34px;

		}
		.hotDiscuss dl{
			padding-left:60px;
		}
		.hotDiscuss dl dt{
			padding:10px 10px;
			border-bottom:#ccc solid 1px;
			position: relative;
		}
		.hotDiscuss dl dt img{
			position: absolute;
			height:40px;
			width:40px;
			top:10px;
			left:-48px;
		}
		.discussAuthor{
			height:30px;
			line-height: 30px;
			font-size:16px;
			font-weight:bold;
			
			margin-bottom:10px;
		}
		.discussNeirong{
			font-size:14px;
			line-height: 20px;
			padding:10px 10px;
		}
		.discussLit span{
			padding:10px;
		}
		.videopl{
	width:670px;
	border-top:#ccc solid 1px;
	margin-top:20px;
	margin-bottom: 10px;
	margin-left: 20px;
		}
		.videopl h2{
			height:26px;
			line-height: 26px;
			font-size:16px;
			padding-left:10px;
			border-bottom:#ccc solid 1px;
		}
		.videopl form{
			position: relative;
			padding:10px;
			overflow: hidden;
			zoom:1;
			font-size:14px;

		}
		#mima{
			margin-left:100px;
		}

		.videopl form label{
			height:20px;
			line-height: 24px;
		}
		.videopl form input{
			height:24px;
			line-height: 30px;
		}
		#danxuan{
			width:14px;
			height:14px;
			margin-left:100px;
		}
		textarea{
			margin-top:10px;
			width:580px;
			height:100px;
			resize: none;
			background-color: #FDFDFD;
		}
		.videopl form button{
			background-color: #ccc;
			border-radius:4px;
			height:24px;
			width:80px;
			text-align: center;
			color:#333;
			margin-top:10px;
		}
		#zan_xia{
	width: 230px;
	background-position: center;
	padding-left: 200px;
}
/*2016.4.26增加点赞部分*/
.dianzanBtn{
	background: url(/images/normal_icon.png) 0 0 no-repeat;
	height: 24px;
	width: 44px;
	display: inline-block;
	padding-left: 26px;
	color: #333;
	line-height: 24px;
	position: relative;
}
.share{
	position: relative;
	overflow: visible;
}
.zan_num{
	position: absolute;
	left: 40px;
	top: 0;
	cursor: pointer;
	line-height:24px;
}
.dianzantixing{
	position: absolute;
	top: 0px;
	left:80px;
	color: #E44405;
	font-size: 14px;

}
.article_mark{
	background:url(/images/normal_icon.png) 0 0 no-repeat;
	display: inline-block;
	width: 81px;
	height: 24px;
	display: none;
}

/*视频贴投票增加作者头像*/
.zhuozhe-img{
	/*width:50px;*/
	height: 50px;
	margin-right: 5px;
}
.zhuozhe-img img{
	width:50px;
	height: 50px;
	border-radius: 2px;
	overflow: hidden;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.zuozhe-name,.zuozhe-price{
	font-size: 14px;
	line-height: 24px;
	padding-left: 5px;
}
.zuozhe-name{
	color: #f00
}





@media screen and (max-width:960px){
	body{width: 100%}
	body .head{width: 100%}
	body .bodyWrap{width: 100%;height: auto;}
	body .nav{width: 100%;height: auto;}
	body .artRight{display: none;}
	body .artLeft{width: 100%;
			padding: 10px;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-ms-box-sizing: border-box;
	}
	.headAdvert{width: 100%;}
	.headAdvert img{width: 100%;}
	.textHead h2{font-size: 16px;}
	.bdsharebuttonbox{display: none;}
	.footAdcert{width: 100%;}
	.footAdcert img{width: 100%;}
	.footNavWrap {width: 100%;overflow: hidden;}
	.footNav {display: none;}
	.footer{width: 100%;overflow: hidden;}
	.footCode{float: none;margin: 0 auto;}
	.h1{float: none;margin: 0 auto;}
	.lianxi{float: none;padding: 10px;}
	.footBtm{height: auto;}
	.huanying,.fanti,.erweima,.dneglu{display: none;}
	.navwrap{height: auto;}
	/*2016.8.1*/
	#ivaLive{width: 100%!important;height: 4.95rem!important;min-height: 200px;}
	.content-ad{height: auto!important;}
	.headerWrap{display: none;}
	.headAdvert{display: none;}
	.content-ad{width: 100%!important;}
	.share{display: none;}
	.toolbar{display: none;}
}